/* $Id$  */
/* 
  * The idea is that this is the stylesheet where you'd make simple changes
  * to this theme...so go nuts!
*/


/* Overall Settings for text colors, sizes and fonts */
body	{
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
    background-color: #EDE7D3;
}


/* Unvisited Links */
a:link {
	color: #333;
	text-decoration: underline;
}
/* Visited Links */
a:visited {
	color: #666;
}
/* Hover Links */
a:hover {
	color: #000;
}

/* Header Links (including main navigation) */
#header-section a:link,
#header-section a:visited	{
	color: #fff;
	}

#nav ul li {
    border: 1px solid black;
    background-color: white;
}

#nav ul {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

#nav ul li a {
    text-decoration: none;
}

/* SubNav Link Color */
#subnav a	{
	color: #999;
}

/* Page Titles Color and Size */
h1	{
	color: #000;
	font-size: 250%;
}

/* Teaser Titles Color and Size */
h2 {
	color: #333;
	font-size: 200%;
}

/* Header Background Color */
#wrapper #header-section {
    background-color: #D9FEFD;
	background-image: url(grass_border.png);
    background-repeat: repeat-x;
    background-position: bottom;
    border-bottom: 4px solid #4a774a;
}

/* Site Name Color */
#site-name {
	color: #1E6344;
}

/* Slogan Color */
#site-slogan	{
	color: #666;
}

/* Submitted Information in nodes and comments */
.submitted	{
	color: #999;
	font-size: .85em;
}


/* Node Links */
.node-links	,
.node-links	 a	{
	color: #999;
}

/* Footer Text */
#footer	{
	font-size: .9em;
	color: #999;
}

/* Footer Links */
#footer a:link,
#footer a:visited {
	color: #999;
}

.messages {
    font-size: 16pt;
    background-color: #fff;
}
